
<div class="row">
  <div class="jumbotron">
    <div class="text-content">
      <div class="jumbotron-title">
        <h2>品质生活 宁静相伴</h2>
        <h2>坐享奢侈 品味愉悦</h2>
      </div>
    </div>
  </div>

  <div class="section banner">
    <div class="container">
      <h3>给茶叶和点心一个美好的家！</h3>
      <a class="btn btn-default btn-lg" href="/products">立即选购</a>
    </div>
  </div>

  <!-- hot-products -->
  <div class="main">
    <div class="container">
      <div class="row title">
        <h2>精品推荐</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9m1yrxcij308c069aci.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mg28g3sj308c069gnf.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mo455mwj308c069acc.jpg"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd9mphkylpj308c069gnl.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mq3ohz4j308c06940k.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd9mqopx0ij308c0693zk.jpg"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9mr23hp2j308c0690uq.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mroqqqkj308c06976o.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9ms3cmbtj308c069gn7.jpg"></a>
        </div>
      </div>
    </div>
  </div>

</div>
