
<div class="row">
  <div class="jumbotron">
    <div class="text-content">
      <div class="jumbotron-title">
        <h2>品质生活 宁静相伴</h2>
        <h2>坐享奢侈 品味愉悦</h2>
      </div>
    </div>
  </div>

  <div class="section banner">
    <div class="container">
      <h3>给茶叶和点心一个美好的家！</h3>
      <a class="btn btn-default btn-lg" href="/products">立即选购</a>
    </div>
  </div>


</div>
