
<div class="row">
  <div class="jumbotron">
    <div class="text-content">
      <div class="jumbotron-title">
        <h2>品质生活 宁静相伴</h2>
        <h2>坐享奢侈 品味愉悦</h2>
      </div>
    </div>
  </div>

  <div class="section banner">
    <div class="container">
      <h3>给茶叶和点心一个美好的家！</h3>
      <a class="btn btn-default btn-lg" href="/products">立即选购</a>
    </div>
  </div>

  <!--客户分享  -->
  <div class="lp-feedback pt60 pb60 lp-bg-gray">
		<h2 class="title tc f22 pb20">客户分享</h2>

    <div class="home-people container">
    	<div class="row">
    		<div class="item person fl col-md-4">
	        <div class="avata-wrapper">
	          <img class="avata" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fdaum2o0ouj3050050mxk.jpg">
	        </div>
	        <div class="intro clearfix">
	          <div class="name">
	            颖儿
	          </div>
	        </div>
	        <div class="words wow fadeIn" data-wow-duration="1s">
	          <span class="bg"></span>
	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
	          <div class="content">忍不住的赞美~ 遇到好看的碟子杯子心里超开心的，实物真的是美到惊艳！我只想静静的看着它们，就已经满足了！</div>
	        </div>
	      </div>
	      <div class="item person fl col-md-4">
	        <div class="avata-wrapper">
	          <img class="avata" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fdaul94sfkj30fs0fsgn6.jpg">
	        </div>
	        <div class="intro clearfix">
	          <div class="name">
	            秋实
	          </div>
	        </div>
	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
	          <span class="bg"></span>
	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
	          <div class="content">这是工艺品，不是盘子！它们有着独特的魅力，无法复制！都是我的心头好，颜色沁人心脾~</div>
	        </div>
	      </div>
	      <div class="item person fl col-md-4">
	        <div class="avata-wrapper">
	          <img class="avata" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fdaumip1cpj3050050q3e.jpg">
	        </div>
	        <div class="intro clearfix">
	          <div class="name">
	            喵美人
	          </div>
	        </div>
	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
	          <span class="bg"></span>
	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
	          <div class="content">新收的景德镇盘汤碗终于收到啦，太喜欢这个调调了，很有质感，汤碗很耐看，准备再去收个同款马克杯~</div>
	        </div>
	      </div>
    	</div>
    </div>
	</div>


  <!-- hot-products -->
  <div class="main">
    <div class="container">
      <div class="row title">
        <h2>精品推荐</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9m1yrxcij308c069aci.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mg28g3sj308c069gnf.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mo455mwj308c069acc.jpg"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd9mphkylpj308c069gnl.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mq3ohz4j308c06940k.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd9mqopx0ij308c0693zk.jpg"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9mr23hp2j308c0690uq.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd9mroqqqkj308c06976o.jpg"></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box"><img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9ms3cmbtj308c069gn7.jpg"></a>
        </div>
      </div>
    </div>
  </div>

</div>
