<div class=" col-md-4 col-xs-6">
  <div class="box2">
    <div class="image">
      <%= link_to product_path(product) do %>
        <% if product.photos.present? %>
          <%= image_tag(product.photos[0].avatar.thumb.url) %>
        <% else %>
          <%= image_tag("http://placehold.it/418x418&text=No Pic") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
