<%= render :partial => "products/menu" %>

<div class="products-1">

    <div class="row">
      <%= render :partial => "product_items", :collection => @products, :as => :product %>
    </div>

</div>
