<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by YaoZhou

    </p>
</footer> -->


<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3> 关于我们 </h3>
                    <ul>
                        <li> <a href="#"> 公司介绍 </a> </li>
                        <li> <a href="#"> 友情链接 </a> </li>
                    </ul>
                </div>

                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3> 拍前必读 </h3>
                    <ul>
                        <li> <a href="#"> 安全付款 </a> </li>
                        <li> <a href="#"> 退货与退款 </a> </li>
                        <li> <a href="#"> 配送方式 </a> </li>
                    </ul>
                </div>

                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3> 客户服务 </h3>
                    <ul>
                        <li> <a href="#"> 联系我们 </a> </li>
                        <li> <a href="#"> FAQ </a> </li>
                    </ul>
                </div>


                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> 关注我们</h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <!-- <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li> -->
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="text-center"> Copyright 2017 © TeaHouse Inc. All rights reserved.
              <br>Design by YaoZhou
            </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
